{
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "rules": {
    "no-console": 0,
    "comma-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "space-before-function-paren": ["warn", "always"]
  }
}
