{
  "root": true,
  "parser": "vue-eslint-parser",
  "extends": [
    "eslint:recommended",
    "plugin:vue/strongly-recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["vue", "prettier"],
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "parser": "babel-eslint"
  },
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "eqeqeq": ["warn"],
    "no-const-assign": ["error"],
    "no-empty": ["error"],
    "no-use-before-define": ["error"],
    "no-console": ["off"],
    "vue/singleline-html-element-content-newline": ["off"],
    "vue/max-attributes-per-line": [4,
      {
        "singleline": 4,
        "multiline": {
          "max": 1,
          "allowFirstLine": true
        }
      }
    ]
  },
  "env": {
    "node": true,
    "browser": true
  }
}
